<!DOCTYPE html>
<html>
<head>
    <title>Gráfico Highcharts em Django</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div id="container" style="min-width: 360px; height: 500px; margin: 25px auto auto auto"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myChart = Highcharts.chart('container', {
                title: {
                    text: 'Cotações de Moedas em relação ao Dólar'
                },
                xAxis: {
                    type: 'datetime',
                    categories: {{ dates|safe }}

                },
                yAxis: {
                    title: {
                        text: 'Taxa de Câmbio'
                    }
                },
                series: [{
                    name: 'USD para EUR',
                    data: {{ usd_to_eur|safe }}
                }, {
                    name: 'USD para BRL',
                    data: {{ usd_to_brl|safe }}
                }, {
                    name: 'USD para JPY',
                    data: {{ usd_to_jpy|safe }}
                }]
            });
        });
    </script>
</body>
</html>